<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="t3ua_carousel" options="{useTypoScript: 0, group: 'FCE', icon: '{f:uri.resource(path: \'Icons/Content/glyphicons_319_sort.png\')}'}">
			<flux:form.sheet name="elements">
				<flux:form.section name="elements">
					<flux:form.object name="image">
						<flux:field.file name="file" />
						<flux:field.input name="header" label="Header for slide" />
						<flux:field.input name="caption" label="Text for slide" />		
						<flux:field.input name="buttonTitle" label="Title for button" default="More info"/>
						<flux:field.input name="buttonLink" label="Link for button">
									<flux:wizard.link activeTab="page" />
						</flux:field.input>
					</flux:form.object>
				</flux:form.section>
			</flux:form.sheet>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<p>Elements: {elements -> f:count()}</p>
		<flux:widget.grid />
	</f:section>

	<f:section name="Main">
			<div class="camera_wrap">
				<f:for each="{elements}" as="element" iteration="iteration">
					<f:for each="{element}" key="elementType" as="elementData">
						<div data-src="{elementData.file}">
							<f:if condition="{0: elementData.caption, 1: elementData.header} != {0: '', 1: ''}">
								<div class="camera-caption fadeIn">
									<f:if condition="{0: elementData.header} != {0: ''}">
										<p class="title">{elementData.header -> f:format.raw()}</p>
									</f:if>
									<f:if condition="{0: elementData.caption} != {0: ''}">
										<p class="descrip">{elementData.caption -> f:format.raw()}</p>
									</f:if>
									<f:if condition="{0: elementData.buttonLink} != {0: ''}">
										<f:link.page pageUid="{elementData.buttonLink}" class="btn-default btn2">	
											{elementData.buttonTitle}
										</f:link.page>
									</f:if>
								</div>
							</f:if>
						</div>
					</f:for>
				</f:for>
			</div>
	</f:section>

</div>
